/* ------------------------------------------------------------------------------------------------------------------------------
BASE
--------------------------------------------------------------------------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
}

.weblegko-container {
	margin-inline: auto;
	max-inline-size: var(--container-width);
	padding-inline: var(--container-padding);
}

.img-responsive {
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
}
